

#mainAnchorPane {
	-fx-background-color: #444444;
}

.button {
	
	-fx-background-color: transparent;
	-fx-text-fill: #EEEEEE;
}

#btnEsc {
    -fx-background-color: #ff0000
}
#textFieldInputWord {
	-fx-background-color: #555555;
}

#textFieldReplacementWord {
	-fx-background-color: #555555;
}